.app {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.input {
  margin: 5px 0;
}
.app h4, h5 {
  margin: 10px 0 0;
}

.app h2 {
  margin: 20px 0 0;
}

.controlBtns {
  display:  flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.resultContent {
  padding-left: 10px;
}